<h2 mat-dialog-title>Add Note</h2>
<mat-dialog-content class="post-form">
  <div>
    <mat-form-field>
      <textarea matInput
                placeholder="Content"
                name="contentText"
                rows="3"
                [(ngModel)]="content">
      </textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <textarea matInput
                placeholder="Comment"
                rows="3"
                [(ngModel)]="comment">
      </textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()">Add</button>
</mat-dialog-actions>