<mat-toolbar class="nav-bar">
  <button mat-icon-button (click)="addNote()">
    <mat-icon>add</mat-icon>
  </button>
  <span class="toolbar-seprator"></span>
  <mat-icon class='icon'>search</mat-icon>
  <input name="searchBox"
         class="search-bar"
         placeholder="search"
         [(ngModel)]="searchString"
         (keyup.enter)="search()"
         type="search">
  <button mat-icon-button [matMenuTriggerFor]="menu" id="button-menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <div>
      <button mat-menu-item id="button-logout" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>logout</span>
      </button>
    </div>
  </mat-menu>
</mat-toolbar>