.toolbar-seprator {
    flex: 1 1 auto;
}

.search-bar {
    height: 35px;
    width: 320px;
    border: none;
    padding-left: 9px;
    background: none;
}

.search-bar:focus {
    outline: 0;
}

.icon {
    padding: 4px;
}

.background {
    background:#F0F0F0;
}