<div class="note">
  <mat-card>
    <mat-card-content>
      <p>{{ note.content }}</p>
      <div *ngIf="showCommentMessage()" class="comment">
        <p>{{ note.comment }}</p>
      </div>
      <div *ngIf="showTags()">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip (click)="onClickTag(tag)" *ngFor="let tag of note.tags">
            {{ tag }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onEdit()">EDIT</button>
      <button mat-button (click)="onDelete()">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>