<div class="dialog">
  <mat-dialog-content class="post-form">
    <div class="field">
      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput #contentArea
                  matTextareaAutosize matAutosizeMinRows="2"
                  name="contentText"
                  [(ngModel)]="content">
        </textarea>
        <mat-hint align="end">{{contentArea.value.length}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Comment</mat-label>
        <textarea matInput #commentArea
                  matTextareaAutosize matAutosizeMinRows="2"
                  [(ngModel)]="comment">
        </textarea>
        <mat-hint align="end">{{commentArea.value.length}}</mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="onSubmit()" color="primary">Edit</button>
  </mat-dialog-actions>
</div>